@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root{
    --nav-bar-color: hsl(0, 100%, 87%);
    --side-bar-color:hsl(194, 100%, 76%);
    --side-bar-hover: hsl(194, 100%, 60%);
    --side-bar-selected: hsl(194, 100%, 55%);
    --content-color: #fdffd0;
    --background-color:hsl(160, 100%, 87%);
    --options-color: rgb(255, 255, 255);
    --font-stack:Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: var(--font-stack);
    /*
    hsl(194, 100%, 76%);
    hsl(160, 100%, 87%)
    #fdffd0
    beige
    aquamarine;
    lightskyblue
    lightsalmon;
    lightcoral

    lightgreen
    lightslategray*/

    --close-btn-color: hsl(0, 0%, 0%);
    --close-btn-hover: hsl(0, 0%, 22%);
    /* box-sizing: border-box; */

    --modal-txt-color: white;
    --modal-background-color: rgb(0, 0, 0, 0.4);
    --modal-content-color: teal;
}

body{
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 240px 1fr;
}

.header{
    background-color: var(--nav-bar-color);
    grid-column: 1/-1;
}

.side-bar{
    background-color: var(--side-bar-color);
}

ul{
    padding: 0px;
}

li {
    list-style: none;
}


.side-bar ul li:hover, .side-bar ul li.selected:hover{
    cursor: pointer;
    background-color: var(--side-bar-hover);
}

.side-bar ul li{
    padding: 10px 0px;
    padding-left:40px;
    font-size: 1.10rem;
}

.side-bar .new-project-txt{
    padding-bottom: 5px;
}

.side-bar .new-project-buttons button{
    /* width: 70px; */
    font-size: 0.95rem;
    margin-top: 5px;
    padding: 3px 10px;
}

.side-bar .new-project-buttons{
    padding-left: 30px;
}

.side-bar .project-form{
    display: none;
    padding-top: 0;
    padding-left: 15px;
}

.side-bar #new-project{
    font-size: 1rem;
    width: 200px;
}

.side-bar #new-project:focus-visible{    /*input:focus-visible, textarea:focus-visible*/
    outline: -webkit-focus-ring-color solid 1px;
}

.main{
    background-color: var(--content-color);
}

.main .options {
    background-color: var(--options-color);
}

.side-bar ul .project{
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.side-bar ul .project.selected{
    background-color: var(--side-bar-selected);
}

.close-button{
    margin-right: 7px;
    padding: 0px 8px;
    font-size: 1.6rem;
}

.new-todo .todo-form{
    display: none;
}

/*TABLE*/
.todos-table{
    border-collapse: collapse;
}

.todos-table th, .todos-table td{
    padding: 5px 10px;
    border: 1px solid black;
    text-align: center;
}

.todos-table tr{
    background-color: var(--background-color);
}
.todos-table tr:hover{
    background-color: aqua;
    cursor: pointer;
}

/*MODAL ------------*/

.modal{
    background-color: var(--modal-background-color);
    color: var(--modal-txt-color);
 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 100px;     /*moves modal content down*/
    display: none;
    z-index: 1;
}

.modal-content{
    background-color:var(--modal-content-color);
    width: 350px;
    position: relative;
    margin: auto;
    padding-bottom: 16px;
}

.modal-content h2{
    font-weight: 500;
    margin: 0;
    font-size: 1.6rem;
}

.modal-content .modal-header{
    padding: 23px 16px 12px;
}

.modal-header .close-modal{
    background-color: var(--close-btn-color);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    right: 16px;
    display: flex;      /*center X*/
    justify-content: center;
    align-items: center;
}

.modal-header .close-modal:hover{
    cursor: pointer;
    background-color: var(--close-btn-hover);
}

.modal-body form{
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr;
}

.modal-body label{
    font-size: 1.2rem;
}

.modal form p{
    display: grid;
    /* margin: 16px 0px;   default */
    margin: 16px 0px;
}

.modal input{
    font-size: 1.20rem;
    width: 90%;
}

.modal input[type="number"]{
    font-size: 1.15rem;
    width: 80px;
}

.modal textarea{
    font-size: 1.15rem;
    font-family: var(--font-stack);
}

.modal button[type="submit"]{
    font-size: 1.25rem;
    width: 35%;
    justify-self: center;
    /* padding: 1px 6px;  default*/
    padding: 4px 6px;
}
